<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js Intro</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="calc.js" defer></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
      <div>
        1st number:
        <input type="text" v-model="number1" />
      </div>
      <div>
        2nd number:
        <input type="text" v-model="number2" />
      </div>
      <div>
        3rd number:
        <input type="text" v-model="number3" />
      </div>
      <div><button v-on:click="calculateSum">Compute sum</button></div>
      <p>The sum is: {{ sum }}</p>
    </div>
  </body>
</html>