<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      <h1>{{ message }}</h1>
      <p>{{name}}</p>
      <button @click="changeMessage()">CLICK ME!</button>
      <input type="text" v-model="name" />

      <div>
        <button v-on:click="show = !show">Toggle</button>
        <p v-if="show" >Boo</p>

      </div>
    </div>
    
  </body>
</html>